@import url(./bootstrap.min.css);

html body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;;
}


#sidebar {
    background-color: rgb(34,45,59);
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: large;
    padding: 1rem;
    margin: 0;
}

#fotousuario {
    border-radius: 50%;
    height: 50px;
    width: 50px;   
    background-color: #fff;
}

#sidebarusuarios {
    text-align: left;
    background-color: rgb(30, 39, 44);
    padding: 10px;
}

#sidebarMenu {
    text-align: left;
    color: rgb(62,75,81);
    background-color: rgb(26,34,37);
    padding: 10px;
}

.navbar {
    height: 3rem;
    background-color: rgb(60,141,188);
}

.fa-bars {
    padding-left: 1rem;
    color: #fff;
}

#fotousuariobar {
    border-radius: 50%;
    height: 30px;
    width: 30px; 
}

#divfoto {
    padding-right: 2rem;
    color: #fff;
    padding-right: 2rem;
}

#corpo {
    padding: 0;
    overflow-x: hidden;
}

#coluna1 {
    background-color: rgb(55, 126, 168);
    color: #fff;
    height: 3rem;
}

#coluna2 {
    justify-content: center;
}

.barraUsuario {
    height: 4rem;
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
}

#tabela {
    background-color: #fff;
    margin-left: 1rem;
    border-top: solid 1px gray;
}

.table {
    font-size: 0.8rem;
}

.fa-user-ninja {
    background: #dee2e6;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid #dcdcdc;
    color: #6c757d;
}

#card1 {
    background-color: rgb(0, 166, 90);
    color: #fff;
}

#card2 {
    background-color: rgb(246, 156, 17);
    color: #fff;
}

.imagemcard {
    opacity: 0.3;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 10px;
}

#formulario {
    margin-right: 0.5rem;
    margin-top: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-top: solid green 2px;
    font-size: 1em;
}

label {
    font-weight: 900;
}

